.sub-navbar {
  position: unset;
}
.sub-navbar a {
  color: #007a31 !important;
}
.sub-navbar a:hover {
  color: #012e1c !important;
}

/* responstive navbar */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav .nav {
  position: absolute;
}

.topnav .nav a {
  float: left;
  display: block;
  color: #073602;
  text-align: center;
  padding: 23.5px 20px;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.topnav .logodiv {
  margin: 0 auto;
  display: table;
}

.topnav .nav a:first-child {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav .nav a:not(:first-child) {
    display: none;
  }
  .topnav .nav a.icon {
    position: fixed;
    display: block;
    right: 0;
  }
  .topnav .nav a.icon img {
    width: 20px
  }
  .topnav .snsnav a.sns {
    display: none;
  }
  .topnav .snsnav a.login {
    display: block;
    left: 0;
    position: fixed;
    padding: 20px;
  }
  .topnav .nav a.icon:first-child {
    position: fixed;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive .nav a {
    padding: 20px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .nav a.icon img {
    width: 20px
  }
  .topnav.responsive .nav a {
    float: none;
    display: block;
    text-align: right;
    padding: 20px;
  }
  .topnav.responsive .snsnav {
    display: flex;
    padding-left: 10px;
  }
  .topnav.responsive .nav {
    /* position: relative; */
    width: 200px;
    right: 0;
    height: 100%;
    top: 60px;
    z-index: 1;
    background: white;
    /* border-left: 0.1px solid #073602; */
    position: fixed;
    animation: slide-in 0.5s forwards;
  }
  /* .topnav.responsive .snsnav a.sns {
    display: table;
    top: 500px;
    z-index: 2;
  / */
}

/* snsnav */
.snsnav {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

.snsnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 18px 8px;
  text-decoration: none;
  font-size: 17px;
}

.snsnav a.sns img {
  height: 20px;
  cursor: pointer;
  padding: 3px;
}

.snsnav a.login img {
  height: 20px;
  cursor: pointer;
  padding: 3px;
}

/* log  */
.logo {
  display: flex;
  padding: 5px !important;
}

.logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 3px;
}

/* power bi */
.container-powerbi {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-powerbi {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
