doctype html
html(lang='ko')
  head
    title 농부심 ERP
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" href='/img/favicon.ico' type='image/x-icon')
    link(rel="icon" href='/img/favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='/css/lib/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/css/lib/bootstrap-modal.min.css')
    link(rel='stylesheet', href='/css/nbs_style.css')
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
    script(src="/js/lib/store.js")
    script(src="/js/lib/Constants.js")
    script(src="/js/general.js")
    script(src="/js/lib/jquery-3.4.1.min.js")
    script(script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fbf51a0e8e12eef26078575dd6dc4461&libraries=services")
  body
    block content
    script(defer src="/js/lib/friconix-0.1814.js")
    
    
      
