<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<style>
	
		@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css); 
		</style>
	<head>
		<!-- 네이버 웹마스터 -->
		<meta name="naver-site-verification" content="a7691c925efc0bc8093e3da16f3bbf7e3b41afaa" />
		<meta name="description" content="농부심은 데이터를 통한 폐기 농산물 Zero를 실천하고 농가의 소득 증대를 위한 데이터 솔루션을 개발하는 팀입니다. 홈페이지에서 농산물 도매 시세를 실시간으로 확인할 수 있습니다.">
		<meta property="og:title" content="농부심">
		<meta property="og:description" content="농부심은 데이터를 통한 폐기 농산물 Zero를 실천하고 농가의 소득 증대를 위한 데이터 솔루션을 개발하는 팀입니다. 홈페이지에서 농산물 도매 시세를 실시간으로 확인할 수 있습니다.">
    <meta property="og:image" content="https://mblogthumb-phinf.pstatic.net/MjAyMDA5MTdfODUg/MDAxNjAwMjY4OTI4NDgy.blG9CyvCdVl4LaTP-ZFVCXqIYJo2-f1xtUmLUwmGTKMg.ZRsKdYTIgypsRIrASFcvmqk6SRoOmYn7wy29oyJYZwkg.JPEG.nbsim99/IMG_3547.JPG?type=w800">
    <meta property="og:image:secure_url" content="https://mblogthumb-phinf.pstatic.net/MjAyMDA5MTdfODUg/MDAxNjAwMjY4OTI4NDgy.blG9CyvCdVl4LaTP-ZFVCXqIYJo2-f1xtUmLUwmGTKMg.ZRsKdYTIgypsRIrASFcvmqk6SRoOmYn7wy29oyJYZwkg.JPEG.nbsim99/IMG_3547.JPG?type=w800">
		<meta property="og:type" content="website">

		<title>농부심</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/WebContent/assets/css/main.css" />
		<style type="text/css">
			@import url("../static/WebContent/css/Pricemain.css");
	    </style>
				 <style>
					img { display: block; margin: 0px auto; }
				</style>
<!-- Redirection to pricesearch -->
					<meta http-equiv='refresh' content='0; URL=http://www.nongbushim.com/PriceSearch.html'>

					    <!-- 네이버 소유 확인 -->
    <meta name="naver-site-verification" content="1e4ae0cba19fd5a7ead794491b27ebef792546a9" />
	</head>

	<body class="is-preload" style="font-family:'S Core DREAM', Medium">

    <!-- 농부심 아이콘 -->
	  <img src="WebContent/images/logo.svg" style="width: 200px; margin: 50px auto;">
</body>
</html>
