<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  </style>
  <head>
    <!-- Jquery , Chart JS -->
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-173132710-1");
    </script>

    <title>농부심</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{WebContent/css/navbar.css}" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{WebContent/css/bootstrap.min.css}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{WebContent/css/jumbotron.css}">
    <style>
      img {
        display: block;
        margin: 0px auto;
      }
    </style>

    <!-- 자동완성 -->
    <script type="text/javascript">
      $(function () {
        $("#searchInput").autocomplete({
          source: "autoComplete",
          minLength: 1,
          response: function (event, ui) {
            var resultCount = ui.content.length;
            if (resultCount === 0) {
              $("#submitButton").prop("disabled", true);
            } else {
              $("#submitButton").prop("disabled", false);
            }
          },
        });
      });
    </script>
  </head>
  <body class="is-preload" style="font-family: 'S Core DREAM', Medium;">
    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="http://www.nongbushim.com">
        <img src="WebContent/images/logo.svg" style="width: 30px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/pricesearch}">가격검색 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/warehouse}">창고검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" th:href="@{/warehouse}" tabindex="-1" aria-disabled="true">솔루션</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:href="@{/whoarewe}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회사소개</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" th:href="@{/whoarewe#company}">회사 밸류</a>
              <a class="dropdown-item" th:href="@{/whoarewe#crew}">크루</a>
              <a class="dropdown-item" th:href="@{/whoarewe#blog}">블로그글</a>
              <a class="dropdown-item" th:href="@{/whoarewe#mail}">Contact Us</a>
            </div>
          </li>
        </ul>
        <div class="navbar-nav navbar-expand d-flex justify-content-end">
          <ul class="navbar-nav my-2 my-sm-0 pr-3">
            <li class="nav-item">
              <a class="nav-link pr-1 mx-1 py-3 my-n2" href="http://pf.kakao.com/_yXYIK/chat" target="_blank" rel="noopener" aria-label="GitHub" style="width: 37px;">
                <img th:src="@{WebContent/images/kakao-talk.svg}"/>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://www.instagram.com/nongbushim/" target="_blank" rel="noopener" aria-label="Twitter" style="width: 33px;">
                <img th:src="@{WebContent/images/icon_instagram.svg}"/>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://blog.naver.com/nbsim99" target="_blank" rel="noopener" aria-label="Slack" style="width: 33px;">
                <img th:src="@{WebContent/images/blog.svg}"/>
              </a>
            </li>
          </ul>
          <a class="btn btn-outline-success my-2 my-sm-0 disabled pb-2 pt-2">Login</a>
        </div>
      </div>
    </nav>

    <!-- 메인 -->
    <main role="main" class="container-fluid col-md-9 col-lg-10 px-md-4" style="height: 1300px;">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <!-- 검색창 -->
        <form action="#" th:action="@{/pricesearch}" th:object="${form}" method="post">
          <input
            id="searchInput"
            name="searchInput"
            type="text"
            th:field="*{text}"
          />
          <input id="submitButton" type="submit" value="검색" />
        </form>
        <!-- 다운로드 -->
        <div class="btn-toolbar mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary disabled">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary disabled">Export</button>
          </div>
        </div>
      </div>
      <!-- 안내문 -->
      <div class="jumbotron pt-1 pb-1">
        <p class="text-justify pt-3" style="font-weight: 100;">
          도매시장 중도매인 상회에서 소상인 및 실수요자에게 판매하는 가격입니다.
          ・ 농산물 특성상 크기와 색상 등이 다양하고 저장기간, 기후변화에 따라 동일 등급에도 다소 차이가 있을 수 있음.
          ・ 1개월전, 1년전, 평년 가격은 해당일자 기준 5일 이동평균 가격임. (이동평균은 해당일 기준 전후로 4~5일의 평균값)     
          ・ 평년은 5년간(금년 제외) 해당일에 대한 최고값과 최소값을 제외한 3년 평균값. (해당일 평균가격은 5일 이동평균값을 적용)     
          ・ 조사단위가 중량이 아닌 품목(포기, 개, 접, 마리 등)은 kg 단위 환산이 제공되지 않음.
          ・ 본 가격자료는 전국 주요 시장에서 조사된 도∙소매 평균가격으로 개별 판매처 및 산지, 브랜드, 규격 등에 따라 가격이 다를 수 있으므로
          실거래에 있어서 참고 자료로만 활용하여 주시기 바랍니다.
          ・ 2018.1.8일 부터 깐마늘(국산)은 대서종과 남도종 구분조사·제공합니다. (이전 깐마늘가격은 품종 혼합가격임)
          ・ 2020.6.23일 부터 난지형 피마늘은 대서종과 남도종 구분조사·제공합니다. (이전 난지형 피마늘 가격은 품종 혼합가격임)
        </p>
      </div>
      <!-- 그래프 -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">월별</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">일별</a>
        </li>
      </ul>

      <!-- 탭 -->
      <div class="tab-content" id="myTabContent">
        <!-- 월별 -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div
          class="chart-container"
          style="position: relative; height: 100vh; width: 80vw;"
          th:if="${chartInfo} != null"
        >
            <!-- 그래프 -->
            <canvas id="lineChart"></canvas>
            <!-- 테이블 -->
            <h3 class="pb-3 mb-4 font-italic"></h3>
            <div class="table-responsive">
              <table class="table table-striped table-sm" style="width: 100%;" th:if="${chartInfo} != null">
                <thead>
                  <tr>
                    <th>구분</th>
                    <th>1개월전</th>
                    <th>1년전</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>평균</td>
                    <td th:text="${chartInfo.avgMonthAgoPrice}"></td>
                    <td th:text="${chartInfo.avgYearAgoPrice}"></td>
                  </tr>
                  <tr>
                    <td>최고값</td>
                    <td th:text="${chartInfo.maxMonthAgoPrice}"></td>
                    <td th:text="${chartInfo.maxYearAgoPrice}"></td>
                  </tr>
                  <tr>
                    <td>최저값</td>
                    <td th:text="${chartInfo.minMonthAgoPrice}"></td>
                    <td th:text="${chartInfo.minYearAgoPrice}"></td>
                  </tr>
                  <tr th:each="region: ${chartInfo.wholesaleRegionInfoList}">
                    <td th:text="${region.region}"></td>
                    <td th:text="${region.tableDto.monthAgoPrice}"></td>
                    <td th:text="${region.tableDto.yearAgoPrice}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- 일별 -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Coming soon</div>
      </div>
    </main>

  <!-- Footer -->
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md text-center">
          <small class="d-block mb-3 text-muted">&copy; 2020 NONGBUSHIM</small>
        </div>
      </div>
    </footer>
  </div>

    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var ctx = $('#lineChart');
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [[${chartInfo?.label}]],
          datasets: [{

            label: [[${seoulLabel}]],
            fill: false,
            backgroundColor: 'rgba(193, 66, 66, 1)',
            borderColor: 'rgba(193, 66, 66, 1)',
            data: [[${seoulData}]]
          }, {
            label: [[${busanLabel}]],
            fill: false,
            backgroundColor: 'rgba(63, 191, 191, 1)',
            borderColor: 'rgba(63, 191, 191, 1)',
            data: [[${busanData}]]
          }, {
            label: [[${daeguLabel}]],
            fill: false,
            backgroundColor: 'rgba(63, 84, 191, 1)',
            borderColor: 'rgba(63, 84, 191, 1)',
            data: [[${daeguData}]]
          }, {
            label: [[${gwangjuLabel}]],
            fill: false,
            backgroundColor: 'rgba(99, 63, 191, 1)',
            borderColor: 'rgba(99, 63, 191, 1)',
            data: [[${gwangjuData}]]
          }, {
            label: [[${daejeonLabel}]],
            fill: false,
            backgroundColor: 'rgba(191, 159, 63)',
            borderColor: 'rgba(191, 159, 63)',
            data: [[${daejeonData}]]
          }

          ]
        }, options: {
          title: {
            display: true,
            text: [[${chartInfo?.title}]]
          }
        }
      });
      /*]]>*/
    </script>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script th:src="@{WebContent/js/bootstrap.bundle.min.js}"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  </body>
</html>
