<!DOCTYPE html>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  </style>
  <head>
    <!-- Jquery , Chart JS -->
    <link
            rel="stylesheet"
            href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-173132710-1");
    </script>

    <title>농부심</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/WebContent/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/WebContent/css/Pricemain.css}" />

    <style>
      img {
        display: block;
        margin: 0px auto;
      }
    </style>

    <!-- 자동완성 -->
    <script type="text/javascript">
      $(function () {
        $("#searchInput").autocomplete({
          source: "autoComplete",
          minLength: 1,
          response: function (event, ui) {
            var resultCount = ui.content.length;
            if (resultCount === 0) {
              $("#submitButton").prop("disabled", true);
            } else {
              $("#submitButton").prop("disabled", false);
            }
          },
        });
      });
    </script>


  </head>
  <body class="is-preload" style="font-family: 'S Core DREAM', Medium;">
    <!-- 농부심 아이콘 -->
    <a href="http://www.nongbushim.com"
      ><img th:src="@{WebContent/images/농부심icon.jpg}" width="100" height="100"
    /></a>

    <!-- Header -->
    <header id="header">
      <nav>
        <ul>
          <!-- <li><a href="index.html">Home</a></li> -->
          <li><a th:href="@{/pricesearch}" class="active">가격검색</a></li>
          <li><a th:href="@{/warehouse}" class="active">창고검색</a></li>
          <li><a th:href="@{/whoarewe}" class="active">회사소개</a></li>

          <!-- <li><a href="elements.html">Elements</a></li> -->
        </ul>
      </nav>
    </header>

    <!-- 검색창 -->
    <form action="#" th:action="@{/pricesearch}" th:object="${form}" method="post">
      <input
        id="searchInput"
        name="searchInput"
        type="text"
        th:field="*{text}"
      />
      <input id="submitButton" type="submit" value="검색" />
    </form>

    <!-- 그래프 -->
    <div
      class="chart-container"
      style="position: relative; height: 100vh; width: 80vw;"
      th:if="${chartInfoList} != null"
    >
      <canvas id="lineChart"></canvas>
    </div>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var ctx = $('#lineChart');
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [[${labels}]],
          datasets: [{

            label: [[${seoulLabel}]],
            fill: false,
            backgroundColor: 'rgba(193, 66, 66, 1)',
            borderColor: 'rgba(193, 66, 66, 1)',
            data: [[${seoulData}]]
          }, {
            label: [[${busanLabel}]],
            fill: false,
            backgroundColor: 'rgba(63, 191, 191, 1)',
            borderColor: 'rgba(63, 191, 191, 1)',
            data: [[${busanData}]]
          }, {
            label: [[${daeguLabel}]],
            fill: false,
            backgroundColor: 'rgba(63, 84, 191, 1)',
            borderColor: 'rgba(63, 84, 191, 1)',
            data: [[${daeguData}]]
          }, {
            label: [[${gwangjuLabel}]],
            fill: false,
            backgroundColor: 'rgba(99, 63, 191, 1)',
            borderColor: 'rgba(99, 63, 191, 1)',
            data: [[${gwangjuData}]]
          }, {
            label: [[${daejeonLabel}]],
            fill: false,
            backgroundColor: 'rgba(191, 159, 63)',
            borderColor: 'rgba(191, 159, 63)',
            data: [[${daejeonData}]]
          }

          ]
        }
      });
      /*]]>*/
    </script>

    <table style="width: 100%;" th:if="${chartInfoList} != null">
      <tr>
        <th>구분</th>
        <th>1개월전</th>
        <th>1년전</th>
      </tr>
      <tr>
        <td>서울</td>
        <td th:text="${seoulLastMonth}"></td>
        <td th:text="${seoulLastYear}"></td>
      </tr>
      <tr>
        <td>부산</td>
        <td th:text="${busanLastMonth}"></td>
        <td th:text="${busanLastYear}"></td>
      </tr>
      <tr>
        <td>대구</td>
        <td th:text="${daeguLastMonth}"></td>
        <td th:text="${daeguLastYear}"></td>
      </tr>
      <tr>
        <td>광주</td>
        <td th:text="${gwangjuLastMonth}"></td>
        <td th:text="${gwangjuLastYear}"></td>
      </tr>
      <tr>
        <td>대전</td>
        <td th:text="${daejeonLastMonth}"></td>
        <td th:text="${daejeonLastYear}"></td>
      </tr>
    </table>
  </body>
</html>
