<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  </style>
  <head>
    <!-- Jquery , Chart JS -->
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-173132710-1");
    </script>

    <title>농부심</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{WebContent/css/navbar.css}" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{WebContent/css/bootstrap.min.css}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{WebContent/css/jumbotron.css}">
    <style>
      img {
        display: block;
        margin: 0px auto;
      }
    </style>

    <!-- 자동완성 -->
    <script type="text/javascript">
      $(function () {
        $("#searchInput").autocomplete({
          source: "autoComplete",
          minLength: 1,
          delay: 50,
          select: function(event, ui) {
            $(this).val(ui.item.value);
            $("#searchForm").submit();
          },
          focus: function(event, ui) {
            return false;
          },

        });
      });

      $(function () {
        $("#resetButton").click(function(){
          $("#searchInput").val("");
        });
      });

      // Prevent users from submitting a form by hitting Enter
      $(function() {
        $("#searchInput").bind("keypress", function(e) {
          if (e.keyCode == 13) { // enter keyCode (13)
              return false;
          }
        });
      });
    </script>
  </head>
  <body class="is-preload" style="font-family: 'S Core DREAM', Medium;">
    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top pt-1 pb-1">
      <a class="navbar-brand" href="http://www.nongbushim.com">
        <img src="WebContent/images/logo.svg" style="width: 30px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/pricesearch}">도매가격검색 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/warehouse}">창고검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" th:href="@{/warehouse}" tabindex="-1" aria-disabled="true">솔루션</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:href="@{/whoarewe}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회사소개</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" th:href="@{/whoarewe#company}">회사 밸류</a>
              <a class="dropdown-item" th:href="@{/whoarewe#crew}">크루</a>
              <a class="dropdown-item" th:href="@{/whoarewe#blog}">블로그글</a>
              <a class="dropdown-item" th:href="@{/whoarewe#mail}">Contact Us</a>
            </div>
          </li>
        </ul>
        <div class="navbar-nav navbar-expand d-flex justify-content-end">
          <ul class="navbar-nav my-2 my-sm-0 pr-3">
            <li class="nav-item">
              <a class="nav-link pr-1 mx-1 py-3 my-n2" href="http://pf.kakao.com/_yXYIK/chat" target="_blank" rel="noopener" aria-label="GitHub" style="width: 37px;">
                <img th:src="@{WebContent/images/kakao-talk.svg}"/>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://www.instagram.com/nongbushim/" target="_blank" rel="noopener" aria-label="Twitter" style="width: 33px;">
                <img th:src="@{WebContent/images/icon_instagram.svg}"/>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://blog.naver.com/nbsim99" target="_blank" rel="noopener" aria-label="Slack" style="width: 33px;">
                <img th:src="@{WebContent/images/blog.svg}"/>
              </a>
            </li>
          </ul>
          <a class="btn btn-outline-success my-2 my-sm-0 disabled pb-2 pt-2">Login</a>
        </div>
      </div>
    </nav>

    <!-- 메인 -->
    <main role="main" class="container-fluid col-md-9 col-lg-10 px-md-4">
      <!-- 사용방법 -->
      <div class="pt-3">
        <p class="text-justify mb-0" style="font-weight: 100; font-size: small;">
          사용방법 - 품종(예시:쌀)을 검색해주시고 아래 보기창에서 원하시는 내용을 선택해주세요.
          <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            이용안내 더보기
          </a>
        </p>

        <!-- 안내문 -->
        <div class="collapse" id="collapseExample">
          <div class="card card-body p-3" style="background-color: #e9ecef;border: none;" >
            <p class="mb-0" style="font-weight: 100;font-size: small;">
              도매시장 중도매인 상회에서 소상인 및 실수요자에게 판매하는 가격입니다.
              <br>・ 농산물 특성상 크기와 색상 등이 다양하고 저장기간, 기후변화에 따라 동일 등급에도 다소 차이가 있을 수 있음.
              <br>・ 1개월전, 1년전, 평년 가격은 해당일자 기준 5일 이동평균 가격임. (이동평균은 해당일 기준 전후로 4~5일의 평균값) 
              <br>・ 평년은 5년간(금년 제외) 해당일에 대한 최고값과 최소값을 제외한 3년 평균값. (해당일 평균가격은 5일 이동평균값을 적용) 
              <br>・ 조사단위가 중량이 아닌 품목(포기, 개, 접, 마리 등)은 kg 단위 환산이 제공되지 않음.
              <br>・ 본 가격자료는 전국 주요 시장에서 조사된 도∙소매 평균가격으로 개별 판매처 및 산지, 브랜드, 규격 등에 따라 가격이 다를 수 있으므로
              실거래에 있어서 참고 자료로만 활용하여 주시기 바랍니다.
              <br>・ 2018.1.8일 부터 깐마늘(국산)은 대서종과 남도종 구분조사·제공합니다. (이전 깐마늘가격은 품종 혼합가격임)
              <br>・ 2020.6.23일 부터 난지형 피마늘은 대서종과 남도종 구분조사·제공합니다. (이전 난지형 피마늘 가격은 품종 혼합가격임)
            </p>
          </div>
        </div>

      </div>

      <!-- 검색창 -->
      <div class="input-group input-group-sm mb-3 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2">
        <form class="mt-md-0 p-0 col-lg-4 col-sm-12" id="searchForm" style="width: 100%;" action="#" th:action="@{/pricesearch}" th:object="${form}" method="post">
          <div style="display: flex; border: 1px solid #ced4da; border-radius: .25rem;">
            <input class="form-control"
              id="searchInput"
              name="searchInput"
              type="text"
              style="border: 0px;"
              th:field="*{text}"/>
            <a class="m-3" id="resetButton" value="Reset" style="cursor: pointer;">
              <img th:src="@{WebContent/images/x.svg}"/>
            </a>
          </div>
        </form>
      </div>

      <!-- 그래프 -->
      <ul th:if="${dailyChartInfo} != null" class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">월별</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">일별</a>
        </li>

        <!-- 다운로드 -->
        <div class="btn-toolbar" style="display: initial;position: absolute;right: 5%;">
          <button type="button" class="btn btn-sm btn-outline-secondary disabled"
                  style="cursor: default;display: flex;align-items: center;justify-content: center;">
            다운로드<img class="pl-2" th:src="@{WebContent/images/data-transfer-download.svg}"/>
          </button>
        </div>

      </ul>

      <!-- 탭 -->
      <div class="tab-content" id="myTabContent">
          <!-- 월별 -->
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- 검색 결과 없음-->
          <div th:if="${monthlyNoSearchResult} != null" th:text="${monthlyNoSearchResult}"></div>
              <!-- 그래프 -->
          <div
          class="chart-container"
          style="position: relative; margin: auto; height: 50vh; width: 80vw;"
          th:if="${monthlyChartInfo} != null">
            <canvas id="lineChart"></canvas>
          </div>
          <!-- 테이블 -->
          <h3 class="pb-3 mb-4 font-italic"></h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm" style="width: 100%;" th:if="${monthlyChartInfo} != null">
              <thead>
                <tr>
                  <th></th>
                  <th th:each="label:${monthlyChartInfo.label}" th:text="${label}"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>AVG</td>
                  <td th:each="avgPrice:${monthlyChartInfo.avgPrice}" th:text="${avgPrice}"></td>
                </tr>
                <tr>
                  <td>MAX</td>
                  <td th:each="maxPrice:${monthlyChartInfo.maxPrice}" th:text="${maxPrice}"></td>
                </tr>
                <tr>
                  <td>MIN</td>
                  <td th:each="minPrice:${monthlyChartInfo.minPrice}" th:text="${minPrice}"></td>
                </tr>
                <tr th:each="region:${monthlyChartInfo?.wholesaleRegionInfoList}">
                  <td th:text="${region.region}"></td>
                  <td th:each="monthlySales:${region.prices}" th:text="${monthlySales}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 일별 -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <!-- 검색 결과 없음-->
          <div th:if="${dailyNoSearchResult} != null" th:text="${dailyNoSearchResult}"></div>
          <!-- 그래프 -->
          <div
          class="chart-container"
          style="position: relative; margin: auto; height: 50vh; width: 80vw;"
          th:if="${dailyChartInfo} != null">
            <canvas id="dailyChart"></canvas>
          </div>
          <!-- 테이블 -->
          <h3 class="pb-3 mb-4 font-italic"></h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm" style="width: 100%;" th:if="${dailyChartInfo} != null">
              <thead>
              <tr>
                <th></th>
                <th th:each="label:${dailyChartInfo.label}" th:text="${label}"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>AVG</td>
                <td th:each="avgPrice:${dailyChartInfo.avgPrice}" th:text="${avgPrice}"></td>
              </tr>
              <tr>
                <td>MAX</td>
                <td th:each="maxPrice:${dailyChartInfo.maxPrice}" th:text="${maxPrice}"></td>
              </tr>
              <tr>
                <td>MIN</td>
                <td th:each="minPrice:${dailyChartInfo.minPrice}" th:text="${minPrice}"></td>
              </tr>
              <tr th:each="region:${dailyChartInfo?.wholesaleRegionInfoList}">
                <td th:text="${region.region}"></td>
                <td th:each="dailyPrice:${region.prices}" th:text="${dailyPrice}"></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <!-- 사용설명서  -->
      <div th:if="${dailyChartInfo} == null">
        <img th:src="@{WebContent/images/nongbushim_intro2.png}" class="img-fluid" alt="Responsive image" />
      </div>
    </main>

  <!-- Footer -->
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md text-center">
          <small class="d-block mb-3 text-muted">&copy; 2020 NONGBUSHIM</small>
        </div>
      </div>
    </footer>
  </div>

    <script type="text/javascript" th:inline="javascript" th:if="${monthlyChartInfo} != null">
      /*<![CDATA[*/
      var monthlyChartInfoArray = [[${monthlyChartInfo?.wholesaleRegionInfoList}]];
      var dailyChartInfoArray = [[${dailyChartInfo?.wholesaleRegionInfoList}]];
      var ctx = $('#lineChart');

      function createDatasets(array) {
        var dataset = []
        for (let i=0;i<array.length;i++){
          dataset.push({
            label: array[i].region,
            fill: false,
            backgroundColor: array[i].backgroundColor,
            borderColor: array[i].borderColor,
            data: array[i].prices
          });
        }
        return dataset;
      }

      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [[${monthlyChartInfo?.label}]],
          datasets: createDatasets(monthlyChartInfoArray),
        }, options: {
          title: {
            display: true,
            text: [[${monthlyChartInfo?.title}]]
          },
          maintainAspectRatio: false,
        }
      });



      var ctx2 = $('#dailyChart');
      var dailyChart = new Chart(ctx2, {
        type: 'line',
        data: {
          labels: [[${dailyChartInfo?.label}]],
          datasets: createDatasets(dailyChartInfoArray),
        }, options: {
          title: {
            display: true,
            text: [[${dailyChartInfo?.title}]]
          },
          maintainAspectRatio: false,
        }
      });
      /*]]>*/
    </script>

    <!-- Scripts -->
    <script th:src="@{WebContent/js/bootstrap.bundle.min.js}"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  </body>
</html>
