<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  </style>
  <head>

<!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-173132710-1');
  </script>
  
    <title>농부심/창고검색</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" th:href="@{/WebContent/css/navbar.css}" />
    <script th:src="@{/WebContent/js/jquery.min.js}"></script>
    <script th:src="@{/WebContent/js/browser.minprice.js}"></script>
    <script th:src="@{/WebContent/assets/js/jquery.scrollex.min.js}"></script>
    <script th:src="@{/WebContent/assets/js/jquery.scrolly.min.js}"></script>
    <script th:src="@{/WebContent/assets/js/breakpoints.min.js}"></script>
    <script th:src="@{/WebContent/assets/js/util.js}"></script>
    <script th:src="@{/WebContent/assets/js/mainprice.js}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{WebContent/css/bootstrap.min.css}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{WebContent/css/jumbotron.css}">
    <style>
      img {
        display: block;
        margin: 0px auto;
      }
    </style>
  </head>
  <body class="is-preload" style="font-family: 'S Core DREAM', Medium;">

  <!-- 네비게이션 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="http://www.nongbushim.com">
      <img src="WebContent/images/logo.svg" style="width: 30px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pricesearch}">가격검색</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/warehouse}">창고검색 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" th:href="@{/warehouse}" tabindex="-1" aria-disabled="true">솔루션</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:href="@{/whoarewe}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회사소개</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" th:href="@{/whoarewe#company}">회사 밸류</a>
            <a class="dropdown-item" th:href="@{/whoarewe#crew}">크루</a>
            <a class="dropdown-item" th:href="@{/whoarewe##blog}">블로그글</a>
            <a class="dropdown-item" th:href="@{/whoarewe#mail}">Contact Us</a>
          </div>
        </li>
      </ul>
    <!-- <div class="logodiv">
          <a class="logo" href="http://www.nongbushim.com">
            <img th:src="@{WebContent/images/logo.svg}"/>
          </a>
        </div>
        <div class="snsnav">
          <a class="sns" href=""><img th:src="@{WebContent/images/kakao-talk.svg}"/></a>
          <a class="sns" href=""><img th:src="@{WebContent/images/icon_instagram.svg}"/></a>
          <a class="sns" href=""><img th:src="@{WebContent/images/blog.svg}"/></a>
          <a class="login" href=""><img th:src="@{WebContent/images/login.svg}"/></a>
        </div> -->
      <a class="btn btn-outline-success my-2 my-sm-0 disabled">Login</a>
    </div>
  </nav>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- PowerBI 차트 넣었어요 -->
      <section id="main" class="wrapper">
        <div class="inner">
          <h1 class="major" style="font-family: '산돌 곧은부리', Regular;">
            창고검색
          </h1>
          <div class="container-powerbi">
            <iframe
              class="iframe-powerbi"
              src="https://app.powerbi.com/view?r=eyJrIjoiN2Q4MDRmZjAtNjZkMy00OTgwLWE5ZWQtY2YwMzI3NjBjZTgyIiwidCI6IjczNmIwODYwLTdlOTgtNDM5Mi1hMDgwLTNkNmYzNjkyMGEzNiJ9&pageName=ReportSection"
              frameborder="0"
              allowfullscreen="true"
            >
            </iframe>
          </div>
        </div>
      </section>
    </div>

  <!-- Footer -->
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md text-center">
          <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">&copy; 2020 NONGBUSHIM</small>
        </div>
      </div>
    </footer>
  </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script th:src="@{WebContent/js/bootstrap.bundle.min.js}"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  </body>
</html>
