<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  </style>
  <head>
		<!-- 네이버 웹마스터 -->
    <meta name="description" content="농부심은 데이터를 통한 폐기 농산물 Zero를 실천하고 농가의 소득 증대를 위한 데이터 솔루션을 개발하는 팀입니다. 홈페이지에서 농산물 도매 시세를 실시간으로 확인할 수 있습니다.">
		<meta property="og:title" content="농부심">
		<meta property="og:description" content="농부심은 데이터를 통한 폐기 농산물 Zero를 실천하고 농가의 소득 증대를 위한 데이터 솔루션을 개발하는 팀입니다. 홈페이지에서 농산물 도매 시세를 실시간으로 확인할 수 있습니다.">
		<meta property="og:image" content="https://mblogthumb-phinf.pstatic.net/MjAyMDA5MTdfODUg/MDAxNjAwMjY4OTI4NDgy.blG9CyvCdVl4LaTP-ZFVCXqIYJo2-f1xtUmLUwmGTKMg.ZRsKdYTIgypsRIrASFcvmqk6SRoOmYn7wy29oyJYZwkg.JPEG.nbsim99/IMG_3547.JPG?type=w800">
		<meta property="og:image:secure_url" content="https://mblogthumb-phinf.pstatic.net/MjAyMDA5MTdfODUg/MDAxNjAwMjY4OTI4NDgy.blG9CyvCdVl4LaTP-ZFVCXqIYJo2-f1xtUmLUwmGTKMg.ZRsKdYTIgypsRIrASFcvmqk6SRoOmYn7wy29oyJYZwkg.JPEG.nbsim99/IMG_3547.JPG?type=w800">
    <meta property="og:type" content="website">

<!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-173132710-1');
  </script>
  
    <title>농부심/창고검색</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{WebContent/css/navbar.css}" />
    <script th:src="@{WebContent/js/jquery.min.js}"></script>
    <script th:src="@{WebContent/js/browser.minprice.js}"></script>
    <script th:src="@{WebContent/assets/js/jquery.scrollex.min.js}"></script>
    <script th:src="@{WebContent/assets/js/jquery.scrolly.min.js}"></script>
    <script th:src="@{WebContent/assets/js/breakpoints.min.js}"></script>
    <script th:src="@{WebContent/assets/js/util.js}"></script>
    <script th:src="@{WebContent/assets/js/mainprice.js}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{WebContent/css/bootstrap.min.css}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{WebContent/css/jumbotron.css}">
    <style>
      img {
        display: block;
        margin: 0px auto;
      }
    </style>
  </head>
  <body class="is-preload" style="font-family: 'S Core DREAM', Medium;">

  <!-- 네비게이션 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="http://www.nongbushim.com">
      <img src="WebContent/images/logo.svg" style="width: 30px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pricesearch}">도매가격검색</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/warehouse}">창고검색 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" th:href="@{/warehouse}" tabindex="-1" aria-disabled="true">솔루션</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:href="@{/whoarewe}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회사소개</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" th:href="@{/whoarewe#company}">회사 밸류</a>
            <a class="dropdown-item" th:href="@{/whoarewe#crew}">크루</a>
            <a class="dropdown-item" th:href="@{/whoarewe##blog}">블로그글</a>
            <a class="dropdown-item" th:href="@{/whoarewe#mail}">Contact Us</a>
          </div>
        </li>
      </ul>
      <div class="navbar-nav navbar-expand d-flex justify-content-end">
        <ul class="navbar-nav my-2 my-sm-0 pr-3">
          <li class="nav-item">
            <a class="nav-link pr-1 mx-1 py-3 my-n2" href="http://pf.kakao.com/_yXYIK/chat" target="_blank" rel="noopener" aria-label="GitHub" style="width: 37px;">
              <img th:src="@{WebContent/images/kakao-talk.svg}"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://www.instagram.com/nongbushim/" target="_blank" rel="noopener" aria-label="Twitter" style="width: 33px;">
              <img th:src="@{WebContent/images/icon_instagram.svg}"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://blog.naver.com/nbsim99" target="_blank" rel="noopener" aria-label="Slack" style="width: 33px;">
              <img th:src="@{WebContent/images/blog.svg}"/>
            </a>
          </li>
        </ul>
        <a class="btn btn-outline-success my-2 my-sm-0 disabled pb-2 pt-2">Login</a>
      </div>
    </div>
  </nav>

  <div class="p-3">
    <p class="text-justify mb-0" style="font-weight: 100; font-size: small;">
      PC를 이용하시면 보다 자세히 확인 가능하십니다. 창고 현황을 더 자세히 확인하고싶으시면 <a th:href="@{/whoarewe#mail}">농부심팀</a>에 연락주세요.
    </p>
  </div>
  
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- PowerBI 차트 넣었어요 -->
    <section id="main" class="wrapper">
      <div class="inner">
        <div class="container-powerbi">
          <iframe
            class="iframe-powerbi"
            src="https://app.powerbi.com/view?r=eyJrIjoiNzkyYzc5ZmUtZTk2ZS00NmNlLWFhMWQtZWFlYjVmNTY5MDUxIiwidCI6IjczNmIwODYwLTdlOTgtNDM5Mi1hMDgwLTNkNmYzNjkyMGEzNiJ9" 
            frameborder="0"
            allowfullscreen="true"
          >
          </iframe>
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md text-center">
          <small class="d-block mb-3 text-muted">&copy; 2020 NONGBUSHIM</small>
        </div>
      </div>
    </footer>
  </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script th:src="@{WebContent/js/bootstrap.bundle.min.js}"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  </body>
</html>
