<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  </style>
  <head>

<!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-173132710-1');
  </script>
  
    <title>농부심/창고검색</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" th:href="@{WebContent/css/navbar.css}" />
    <script th:src="@{WebContent/js/jquery.min.js}"></script>
    <script th:src="@{WebContent/js/browser.minprice.js}"></script>
    <script th:src="@{WebContent/assets/js/jquery.scrollex.min.js}"></script>
    <script th:src="@{WebContent/assets/js/jquery.scrolly.min.js}"></script>
    <script th:src="@{WebContent/assets/js/breakpoints.min.js}"></script>
    <script th:src="@{WebContent/assets/js/util.js}"></script>
    <script th:src="@{WebContent/assets/js/mainprice.js}"></script>
    <style>
      img {
        display: block;
        margin: 0px auto;
      }
    </style>
  </head>
  <body class="is-preload" style="font-family: 'S Core DREAM', Medium;">

  <!-- Header -->
  <header>
		<div class="topnav" id="myTopnav">
			<div class="nav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <img th:src="@{WebContent/images/open-menu.svg}"/>
				</a>
        <a th:href="@{/pricesearch}">가격검색</a>
        <a th:href="@{/warehouse}">창고검색</a>
        <a th:href="@{/warehouse}">솔루션</a>
        <a th:href="@{/whoarewe}">회사소개</a>
			</div>
      <div class="logodiv">
        <a class="logo" href="http://www.nongbushim.com">
          <img th:src="@{WebContent/images/logo.svg}"/>
				</a>
      </div>
			<div class="snsnav">
				<a class="sns" href=""><img th:src="@{WebContent/images/kakao-talk.svg}"/></a>
        <a class="sns" href=""><img th:src="@{WebContent/images/icon_instagram.svg}"/></a>
				<a class="sns" href=""><img th:src="@{WebContent/images/blog.svg}"/></a>
				<a class="login" href=""><img th:src="@{WebContent/images/login.svg}"/></a>
			</div>
		</div>
	</header>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- PowerBI 차트 넣었어요 -->
      <section id="main" class="wrapper">
        <div class="inner">
          <h1 class="major" style="font-family: '산돌 곧은부리', Regular;">
            창고검색
          </h1>
          <div class="container-powerbi">
            <iframe
              class="iframe-powerbi"
              src="https://app.powerbi.com/view?r=eyJrIjoiN2Q4MDRmZjAtNjZkMy00OTgwLWE5ZWQtY2YwMzI3NjBjZTgyIiwidCI6IjczNmIwODYwLTdlOTgtNDM5Mi1hMDgwLTNkNmYzNjkyMGEzNiJ9&pageName=ReportSection"
              frameborder="0"
              allowfullscreen="true"
            >
            </iframe>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper alt">
      <div class="inner">
        <ul class="menu">
          <li>&copy; Untitled. All rights are yours.</li>
          <li>Naver: <a href="http://www.naver.com">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
  </body>
</html>
