<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<style>
	
		@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css); 
		</style>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173132710-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-173132710-1');
		</script>

		<title>농부심/메인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href="@{WebContent/css/navbar.css}" />
		<script th:src="@{WebContent/assets/js/jquery.min.js}"></script>
		<script th:src="@{WebContent/assets/js/skel.min.js}"></script>
		<script th:src="@{WebContent/assets/js/util.js}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{WebContent/css/bootstrap.min.css}" />
    <!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{WebContent/css/jumbotron.css}">

		 <style>
			img { display: block; margin: 0px auto; }
		</style>
	</head>
	<body class="is-preload" style="font-family: 'S Core DREAM', Medium;">

  <!-- 네비게이션 -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="http://www.nongbushim.com">
			<img src="WebContent/images/logo.svg" style="width: 30px;">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/pricesearch}">도매가격검색</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/warehouse}">창고검색</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" th:href="@{/warehouse}" tabindex="-1" aria-disabled="true">솔루션</a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" th:href="@{/whoarewe}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회사소개 <span class="sr-only">(current)</span></a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#company">회사 밸류</a>
						<a class="dropdown-item" href="#crew">크루</a>
						<a class="dropdown-item" href="#blog">블로그글</a>
						<a class="dropdown-item" href="#mail">Contact Us</a>
					</div>
				</li>
			</ul>
			<div class="navbar-nav navbar-expand d-flex justify-content-end">
				<ul class="navbar-nav my-2 my-sm-0 pr-3">
					<li class="nav-item">
						<a class="nav-link pr-1 mx-1 py-3 my-n2" href="http://pf.kakao.com/_yXYIK/chat" target="_blank" rel="noopener" aria-label="GitHub" style="width: 37px;">
							<img th:src="@{WebContent/images/kakao-talk.svg}"/>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-1 mx-1 py-3 my-n2" href="https://www.instagram.com/nongbushim/" target="_blank" rel="noopener" aria-label="Twitter" style="width: 33px;">
							<img th:src="@{WebContent/images/icon_instagram.svg}"/>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-1 mx-1 py-3 my-n2" href="https://blog.naver.com/nbsim99" target="_blank" rel="noopener" aria-label="Slack" style="width: 33px;">
							<img th:src="@{WebContent/images/blog.svg}"/>
						</a>
					</li>
				</ul>
				<a class="btn btn-outline-success my-2 my-sm-0 disabled pb-2 pt-2">Login</a>
			</div>
		</div>
	</nav>

  <!-- 회사 밸류 -->
	<main id="company" role="main">
		<section class="jumbotron text-center">
			<div class="container pt-5 pb-5">
				<h3>Team 농부심은 농부의 자부심과 농부의 마음을 생각하는 이중적인 의미를 지닌 단어입니다</h3>
				<p>폐기 농산물 Zero와 농가의 소득 증대를 위해 데이터 솔루션을 개발하겠습니다</p>
			</div>
		</section>

		<div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-md-4 pb-5">
					<h4>농산물 데이터 시각화</h4>
					<p>실시간 농산물 가격 정보 안내로 시세 파악 및 출하시기 결정<br />
						전국 저온창고 위치 시각화를 통한 유통 채널 정보 제공</p>
					<p><a class="btn btn-secondary" href="https://blog.naver.com/nbsim99/222045813317" role="button">더 알아보기</a></p>
				</div>
				<div class="col-md-4 pb-5">
					<h4>스마트 농업</h4>
					<p>ERP 시스템 도입으로 체계적인 농장 Data 관리<br />
						데이터를 기반으로 인사이트 도출, 운영 계획, 품질 측정, 주문 관리 가능</p>
				  <p><a class="btn btn-secondary" href="https://blog.naver.com/nbsim99/222047342144" role="button">더 알아보기</a></p>
				</div>
				<div class="col-md-4 pb-5">
					<h4>공정한 수익 분배</h4>
					<p>블록체인을 통한 농산물 유통경로 추적으로 데이터 신뢰도 제고<br />
						농산물 유통과정 위변조 방지 및 수요 예측 가능<br />
						불필요한 유통과정 축소로 농가 수익 증대 실현</p>
				  <p><a class="btn btn-secondary" href="https://blog.naver.com/nbsim99/222047416688" role="button">더 알아보기</a></p>
				</div>
			</div>
		</div>
	</main>

  <!-- 멤버 소개 -->
  <div id="crew" class="container py-5 marketing">
		<div class="justify-content-between flex-wrap flex-md-nowrap text-center pt-5 pb-2 mb-3 border-bottom">
			<h1 class="h2">농부심크루</h1>
			<p>이 외에도 많은 분들이 서포트 해주셨습니다</p>
		</div>
    <div class="row">
      <div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member1.jpeg}" alt="Person 1" />
				<h5>홍성자</h5>
				<p>Advisor</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3 text-center crew-padding ">
				<img class="crew-image" th:src="@{WebContent/images/member2.jpeg}" alt="Person 2" />
				<h5>신정연</h5>
				<p>Product Development</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member3.jpeg}" alt="Person 3" />
				<h5>박성문</h5>
				<p>Business Development</p>
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member4.png}" alt="Person 4" />
				<h5>이재열</h5>
				<p>System Engineer</p>
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member5.jpeg}" alt="Person 5" />
				<h5>이상은</h5>
				<p>System Engineer</p>
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member6.jpeg}" alt="Person 6" />
				<h5>이신애</h5>
				<p>Brand Marketer</p>
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member7.png}" alt="Person 4" />
				<h5>이정아</h5>
				<p>System Engineer</p>
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-3 text-center crew-padding">
				<img class="crew-image" th:src="@{WebContent/images/member4.png}" alt="Person 4" />
				<h5>Coming Soon</h5>
				<p>!</p>
      </div><!-- /.col-lg-3 -->
		</div><!-- /.row -->
  </div><!-- /.container -->

  <!-- 블로그 -->
  <div id="blog" class="container py-5 marketing">
		<div class="justify-content-between flex-wrap flex-md-nowrap text-center pt-5 pb-2 mb-3 border-bottom">
			<h1 class="h2">블로그글</h1>
		</div>
		<div class="row mb-2">
			<div class="col-md-6">
				<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h4 class="mb-2">한국형 ERP 도입</h4>
						<p class="card-text mb-auto pb-2">글로벌 기업의 ERP를 한국에서도 쉽게 사용할 수 있도록 개발 및 무상 배포</p>
						<a href="https://blog.naver.com/nbsim99/222045813317" class="stretched-link">더 알아보기</a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<img th:src="@{WebContent/images/pic01.png}" alt="Pic 01" />
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h4 class="mb-2">중앙대와의 파트너쉽</h4>
						<p class="card-text mb-auto pb-2">중앙대와의 파트너쉽을 통한 Smart tech의 구현 및 향후 농업의 4차 산업화 도모</p>
						<a href="https://m.blog.naver.com/PostView.nhn?blogId=nbsim99&logNo=222077488255&navType=tl" class="stretched-link">더 알아보기</a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<img th:src="@{WebContent/images/pic02.png}" alt="Pic 02" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- mail등록 -->
	<div id="mail" class="container">
		<div class="justify-content-between flex-wrap flex-md-nowrap text-center pt-5 pb-2 mb-3 border-bottom">
			<img class="d-block mx-auto mb-4" src="WebContent/images/logo.svg" alt="농부심" width="72" height="72">
			<h2>Contact Us</h2>
		</div>
		<div class="pt-1 pb-5 mb-5" style="margin: 0 auto; display: flex; align-content: center; align-items: center; justify-content: center;">
			<img class="" src="WebContent/images/icon_gmail.svg" alt="Gmail" style="width: 40px; margin: 0;">
			<a href="mailTo:nongbushim@gmail.com" class="contactButton">nongbushim@gmail.com</a>
		</div>
	</div>

<!-- Footer -->
<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md text-center">
        <small class="d-block mb-3 text-muted">&copy; 2020 NONGBUSHIM</small>
      </div>
    </div>
  </footer>
</div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script th:src="@{WebContent/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
