extends ../../layout.pug

block content
    .background
        .card
            h2.guide-title 비밀번호 재설정
            .guide-desc.mt-2.mb-4
                | 인증이 완료되었습니다. 사용하실 새 비밀번호를 입력 해 주세요.
            .form-control.mt-4.mr-3
                .title
                    | 새 비밀번호 
                input#input_password.full-width.app-input(type='password', placeholder='비밀번호 6자 이상')
            .form-control.mt-4.mr-3
                .title
                    | 새 비밀번호 확인
                input#input_password_confirm.full-width.app-input(type='password', placeholder='비밀번호 확인')
            button#btn_reset.mt-4.btn-social-login(type='button') 변경하기
            #data(verified_email=verifiedEmail, request_email=requestEmail)
    script(src='/js/babel/reset_password.js')